<div class="container">
  <div class="page-header">
    <h1 class="text-center">Carl Sagan</h1>
    <h3 class="text-center">Tribute page to a scientist, author, and educator</h3>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-padding-1">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-padding-1">
      <iframe width="100%" height="200px" src="https://www.youtube.com/embed/USFMVgVAGvU" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-padding-1">
    <!-- @include components/_accordion.html -->
  </div>
</div>
<!-- @include components/_footer.html -->
